.danh-muc li {
  color: #107105;
  height: 35px;
  padding-left: 20px;
  padding-right: 40px;
}
.danh-muc li a{
  color: gray;
  height: 35px;
  padding-left: 20px;
  padding-right: 40px;
}
.danh-muc li :hover{
  color: orange;
}
:after{
  float: right;
}
.sach-bottom div {
  text-align: center;
}
.ten-loai-sach{
  background-color: #cefcd0;
  color: #107105;
  font-weight: bold;
  padding: 10px 50px;
  height: 45px;

}
.a-book{
  background-color: #cefcd0;
}
.book{
  background-color: white;
  height: 96%;
  padding: 4%;
  margin-left: 3%;
  margin-right: 3%;
}
.img-theloai{
  max-width: 150px;
  margin-bottom: 20px;
}
.dropdown a{
  text-decoration: none;
  background-color: white;
  color: #107105;
}



