<div>
  <div class="row" style="padding: 20px">
     <div class="col col-sm-2">
       <ul style="list-style: none; padding: 0" class="danh-muc">
      <li class="h6" style="margin: 0">Danh mục sách</li>
         <li class="dropdown">
       <a class=" btn-primary dropdown-toggle" data-toggle="dropdown">Sách văn học </a>
        <div class="dropdown-menu">
          <a class="dropdown-item">Tiểu thuyết</a>
          <a class="dropdown-item">Truyện ngắn</a>
          <a class="dropdown-item">Ngôn tình</a>
          <a class="dropdown-item">Light Novel</a>
          <a class="dropdown-item">Tác phẩm kinh điển</a>
          <a class="dropdown-item">Huyền bí - Giả tưởng - Kinh dị</a>
          <a class="dropdown-item">Thơ ca - Ca dao - Tục ngữ - Thành ngữ</a>
        </div></li>
         <li class="dropdown">
           <a class=" btn-primary dropdown-toggle" data-toggle="dropdown">Sách kinh tế </a>
           <div class="dropdown-menu">
             <a class="dropdown-item">Quản trị - Lãnh đạo</a>
             <a class="dropdown-item">Nhân vật - Bài học kinh doanh</a>
             <a class="dropdown-item">Marketing - Bán hàng</a>
             <a class="dropdown-item">Phân tích kinh tế</a>
             <a class="dropdown-item">Khởi nghiệp  - Làm giàu</a>
             <a class="dropdown-item">Tài chính -Ngân hàng</a>
             <a class="dropdown-item">Chứng khoán - Bất động sản - Đầu tư</a>
             <a class="dropdown-item">Kế toán - Kiểm toán - Thuế</a>
           </div></li>
         <li class="dropdown">
           <a class=" btn-primary dropdown-toggle" data-toggle="dropdown">Sách thiếu nhi </a>
           <div class="dropdown-menu">
             <a class="dropdown-item">Truyện thiếu nhi</a>
             <a class="dropdown-item">Kiến thức bách khoa</a>
             <a class="dropdown-item">Ký năng sống cho trẻ</a>
             <a class="dropdown-item">Tô màu - Luyện chữ</a>
             <a class="dropdown-item">Từ điển thiếu nhi</a>
             <a class="dropdown-item">Tạp chí thiếu nhi</a>
             <a class="dropdown-item">Flashcard - Thẻ học thông minh</a>
             <a class="dropdown-item">Sách nói</a>
           </div></li>
         <li class="dropdown">
           <a class=" btn-primary dropdown-toggle" data-toggle="dropdown">Kỷ năng - Đời sống</a>
           <div class="dropdown-menu">
             <a class="dropdown-item">Kỷ năng sống</a>
             <a class="dropdown-item">Sách cho tuổi mới lớn</a>
             <a class="dropdown-item">Tâm lý</a>
             <a class="dropdown-item">Rèn luyện nhân cách</a>
             <a class="dropdown-item">Hạt giống tâm hồn</a>
           </div></li>
         <li class="dropdown">
           <a class=" btn-primary dropdown-toggle" data-toggle="dropdown">Sách ngoại ngữ</a>
           <div class="dropdown-menu">
             <a class="dropdown-item">Sách học tiếng Anh</a>
             <a class="dropdown-item">Sách học tiếng Hàn</a>
             <a class="dropdown-item">Sách học tiếng Nhật</a>
             <a class="dropdown-item">Sách học tiếng Trung</a>
             <a class="dropdown-item">Sách học tiếng Nga</a>
             <a class="dropdown-item">Sách học tiếng Pháp</a>

           </div></li>
         <li class="dropdown">
           <a class=" btn-primary dropdown-toggle" data-toggle="dropdown">Sách công nghệ </a>
           <div class="dropdown-menu">
             <a class="dropdown-item">Sách động cơ</a>
             <a class="dropdown-item">Công nghệ máy tính</a>
             <a class="dropdown-item">Công nghệ ô tô</a>
           </div></li>
         <li class="dropdown">
           <a class=" btn-primary dropdown-toggle" data-toggle="dropdown">Giáo khoa  - Tham khảo</a>
           <div class="dropdown-menu">
             <a class="dropdown-item">Giáo khoa cấp 1</a>
             <a class="dropdown-item">Giáo khoa cấp 2</a>
             <a class="dropdown-item">Giáo khoa cấp 3</a>
             <a class="dropdown-item">Mẫu giáo</a>
             <a class="dropdown-item">Đại học</a>
             <a class="dropdown-item">Sách giáo viên</a>
             <a class="dropdown-item">Sách tham khảo</a>
           </div></li>
         <li class="dropdown">
           <a class=" btn-primary dropdown-toggle" data-toggle="dropdown">Sách sinh học </a>
           <div class="dropdown-menu">
             <a class="dropdown-item">Sách nông - Lâm - Nghiệp</a>
             <a class="dropdown-item">Chuyên gia súc</a>
             <a class="dropdown-item">Sách trông cây lâm nghiệp</a>
             <a class="dropdown-item">Sách trông rau củ</a>
             <a class="dropdown-item">Phân tích đất trồng</a>
             <a class="dropdown-item">Sách đột biến</a>
           </div></li>
         <li class="dropdown">
           <a class=" btn-primary dropdown-toggle" data-toggle="dropdown">Từ điển </a>
           <div class="dropdown-menu">
             <a class="dropdown-item" routerLink="/dssanpham">Từ điển Anh - Việt</a>
             <a class="dropdown-item">Từ điển Anh - Anh</a>
             <a class="dropdown-item">Từ điển Hàn - Việt</a>
             <a class="dropdown-item">Từ điển Hán - Việt</a>
             <a class="dropdown-item">Từ điển Nga - Việt</a>
             <a class="dropdown-item">Từ điển Pháp - Việt</a>
             <a class="dropdown-item">Một số từ điển khác</a>
           </div></li>

    </ul>
      </div>
    <div class="col col-sm-10 row">
      <img class="col col-sm-8" src="assets/images/slide1.jpg" style="max-height: 400px;padding: 0">
      <div class="col col-sm-4" style="padding: 0;">
       <img src="assets/images/slide2.jpg" style="max-height: 200px">
       <img src="assets/images/slide3.jpg" style="max-height: 200px">
      </div>
  </div>
  </div>
  <div>
    <p class="row ten-loai-sach" >Một số thể loại khác</p>
    <div class="row" style="  text-align: center">
      <div class="col col-sm-3">
        <img src="assets/images/tl_truyentranh.jpg" class="img-theloai">
        <p>Truyện tranh</p>
      </div>
      <div class="col col-sm-3">
        <img src="assets/images/tl_khoahoc.jpg" class="img-theloai">
        <p>Sách khoa học</p>
      </div>
      <div class="col col-sm-3">
        <img src="assets/images/tl_dialyvadulich.jpg" class="img-theloai">
        <p>Sách văn hóa địa lý và du lịch</p>
      </div>
      <div class="col col-sm-3">
        <img src="assets/images/tl_lichsu.jpg" class="img-theloai">
        <p>Sách lịch sử</p>
      </div>
    </div>
  </div>
  <div>
    <div class="row ten-loai-sach">
      <p >Sách bán chạy</p>
      <a style="margin-left: 10px; font-weight: lighter; font-size: 13px; margin-top: 3px">Xem thêm >></a>

    </div>
    <div class="row" style="height:250px;background-color: #cefcd0; text-align:left;margin: 0" >
      <div class="col col-sm-3 a-book">
        <div class="book" >
          <div class="row">
          <img class="col col-sm-6" src="assets/images/sach1.jpg">
          <div class="col col-sm-6" >
          <p style="height: 33%;color: #107105;font-size: 15px">Con chim xanh biếc bay về</p>
            <p  style="height: 5%;font-size: 10px">Nguyễn Nhật Ánh</p>
            <p style="height: 50%; color: #107105;font-size: 10px">Làhgdgdj gsajdgahdsa gdhsagj dgsagdhsag dhgsahdfhgafdhg</p>
          </div>
        </div>
          <div class="row">
          <p class="col sol-sm-6" style="text-decoration-line: line-through">150.000 đ</p>
          <p  class="col sol-sm-6" style="color: orange">120.000 đ</p>
        </div>
          <div class="row">
            <a style="background-color: #107105;color: white;width: 40%;margin-left: 30% ;text-align: center" >Xem</a>
        </div>
        </div>
      </div>
      <div class="col col-sm-3 a-book">
        <div class="book" >
          <div class="row">
            <img class="col col-sm-6" src="assets/images/sach1.jpg">
            <div class="col col-sm-6" >
              <p style="height: 33%;color: #107105;font-size: 15px">Con chim xanh biếc bay về</p>
              <p  style="height: 5%;font-size: 10px">Nguyễn Nhật Ánh</p>
              <p style="height: 50%; color: #107105;font-size: 10px">Làhgdgdj gsajdgahdsa gdhsagj dgsagdhsag dhgsahdfhgafdhg</p>
            </div>
          </div>
          <div class="row">
            <p class="col sol-sm-6" style="text-decoration-line: line-through">150.000 đ</p>
            <p  class="col sol-sm-6" style="color: orange">120.000 đ</p>
          </div>
          <div class="row">
            <a style="background-color: #107105;color: white;width: 40%;margin-left: 30% ;text-align: center" >Xem</a>
          </div>
        </div>
      </div>
      <div class="col col-sm-3 a-book">
        <div class="book" >
          <div class="row">
            <img class="col col-sm-6" src="assets/images/sach1.jpg">
            <div class="col col-sm-6" >
              <p style="height: 33%;color: #107105;font-size: 15px">Con chim xanh biếc bay về</p>
              <p  style="height: 5%;font-size: 10px">Nguyễn Nhật Ánh</p>
              <p style="height: 50%; color: #107105;font-size: 10px">Làhgdgdj gsajdgahdsa gdhsagj dgsagdhsag dhgsahdfhgafdhg</p>
            </div>
          </div>
          <div class="row">
            <p class="col sol-sm-6" style="text-decoration-line: line-through">150.000 đ</p>
            <p  class="col sol-sm-6" style="color: orange">120.000 đ</p>
          </div>
          <div class="row">
            <a style="background-color: #107105;color: white;width: 40%;margin-left: 30% ;text-align: center" >Xem</a>
          </div>
        </div>
      </div>
      <div class="col col-sm-3 a-book">
        <div class="book" >
          <div class="row">
            <img class="col col-sm-6" src="assets/images/sach1.jpg">
            <div class="col col-sm-6" >
              <p style="height: 33%;color: #107105;font-size: 15px">Con chim xanh biếc bay về</p>
              <p  style="height: 5%;font-size: 10px">Nguyễn Nhật Ánh</p>
              <p style="height: 50%; color: #107105;font-size: 10px">Làhgdgdj gsajdgahdsa gdhsagj dgsagdhsag dhgsahdfhgafdhg</p>
            </div>
          </div>
          <div class="row">
            <p class="col sol-sm-6" style="text-decoration-line: line-through">150.000 đ</p>
            <p  class="col sol-sm-6" style="color: orange">120.000 đ</p>
          </div>
          <div class="row">
            <a style="background-color: #107105;color: white;width: 40%;margin-left: 30% ;text-align: center" >Xem</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="row ten-loai-sach">
      <p >Sách bán chạy</p>
      <a style="margin-left: 10px; font-weight: lighter; font-size: 13px; margin-top: 3px">Xem thêm >></a>

    </div>
    <div class="row" style="height:250px;background-color: #cefcd0; text-align:left;margin: 0" >
      <div class="col col-sm-3 a-book">
        <div class="book" >
          <div class="row">
            <img class="col col-sm-6" src="assets/images/sach1.jpg">
            <div class="col col-sm-6" >
              <p style="height: 33%;color: #107105;font-size: 15px">Con chim xanh biếc bay về</p>
              <p  style="height: 5%;font-size: 10px">Nguyễn Nhật Ánh</p>
              <p style="height: 50%; color: #107105;font-size: 10px">Làhgdgdj gsajdgahdsa gdhsagj dgsagdhsag dhgsahdfhgafdhg</p>
            </div>
          </div>
          <div class="row">
            <p class="col sol-sm-6" style="text-decoration-line: line-through">150.000 đ</p>
            <p  class="col sol-sm-6" style="color: orange">120.000 đ</p>
          </div>
          <div class="row">
            <a style="background-color: #107105;color: white;width: 40%;margin-left: 30% ;text-align: center" >Xem</a>
          </div>
        </div>
      </div>
      <div class="col col-sm-3 a-book">
        <div class="book" >
          <div class="row">
            <img class="col col-sm-6" src="assets/images/sach1.jpg">
            <div class="col col-sm-6" >
              <p style="height: 33%;color: #107105;font-size: 15px">Con chim xanh biếc bay về</p>
              <p  style="height: 5%;font-size: 10px">Nguyễn Nhật Ánh</p>
              <p style="height: 50%; color: #107105;font-size: 10px">Làhgdgdj gsajdgahdsa gdhsagj dgsagdhsag dhgsahdfhgafdhg</p>
            </div>
          </div>
          <div class="row">
            <p class="col sol-sm-6" style="text-decoration-line: line-through">150.000 đ</p>
            <p  class="col sol-sm-6" style="color: orange">120.000 đ</p>
          </div>
          <div class="row">
            <a style="background-color: #107105;color: white;width: 40%;margin-left: 30% ;text-align: center" >Xem</a>
          </div>
        </div>
      </div>
      <div class="col col-sm-3 a-book">
        <div class="book" >
          <div class="row">
            <img class="col col-sm-6" src="assets/images/sach1.jpg">
            <div class="col col-sm-6" >
              <p style="height: 33%;color: #107105;font-size: 15px">Con chim xanh biếc bay về</p>
              <p  style="height: 5%;font-size: 10px">Nguyễn Nhật Ánh</p>
              <p style="height: 50%; color: #107105;font-size: 10px">Làhgdgdj gsajdgahdsa gdhsagj dgsagdhsag dhgsahdfhgafdhg</p>
            </div>
          </div>
          <div class="row">
            <p class="col sol-sm-6" style="text-decoration-line: line-through">150.000 đ</p>
            <p  class="col sol-sm-6" style="color: orange">120.000 đ</p>
          </div>
          <div class="row">
            <a style="background-color: #107105;color: white;width: 40%;margin-left: 30% ;text-align: center" >Xem</a>
          </div>
        </div>
      </div>
      <div class="col col-sm-3 a-book">
        <div class="book" >
          <div class="row">
            <img class="col col-sm-6" src="assets/images/sach1.jpg">
            <div class="col col-sm-6" >
              <p style="height: 33%;color: #107105;font-size: 15px">Con chim xanh biếc bay về</p>
              <p  style="height: 5%;font-size: 10px">Nguyễn Nhật Ánh</p>
              <p style="height: 50%; color: #107105;font-size: 10px">Làhgdgdj gsajdgahdsa gdhsagj dgsagdhsag dhgsahdfhgafdhg</p>
            </div>
          </div>
          <div class="row">
            <p class="col sol-sm-6" style="text-decoration-line: line-through">150.000 đ</p>
            <p  class="col sol-sm-6" style="color: orange">120.000 đ</p>
          </div>
          <div class="row">
            <a style="background-color: #107105;color: white;width: 40%;margin-left: 30% ;text-align: center" >Xem</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
