<div>
<!--    <div class="row img2" style="padding: 10px">-->
<!--        <a class="img21" href="https://shopsach.com/go.php?url=aHR0cHM6Ly90aWtpLnZuL2todXllbi1tYWkvbmhhLW5hbQ==" target="_blank"> <img class="col col-sm-12" src="assets/images/za.png" style="max-height: 400px; max-width: 100%;">-->
<!--        </a>-->
<!--    </div>-->
  <div class="row" style="width: 90%;margin-left: 5%;margin-top: 20px;margin-bottom: 20px">
    <img class="col col-sm-6" src="assets/images/slide1.jpg" style="max-height: 400px;padding: 20px">
    <div class="col col-sm-3" style="padding: 0;">
      <img src="assets/images/slide2.jpg" style="max-height: 200px;padding:20px">
      <img src="assets/images/slide3.jpg" style="max-height: 200px;padding:20px">
    </div>
    <div class="col col-sm-3" style="padding: 0;">
      <img src="assets/images/slx.jpg" style="max-height: 200px;padding:20px">
      <img src="assets/images/sly.jpg" style="max-height: 200px;padding:20px">
    </div>
  </div>
  <div style="margin-bottom: 20px">
    <img src="assets/images/fs1.png" style="display: inline; max-width: 25%">
    <img src="assets/images/fs2.png" style="display: inline; max-width: 25%">
    <img src="assets/images/fs3.png" style="display: inline; max-width: 25%">
     <img src="assets/images/fs4.png" style="display: inline; max-width: 25%">
  </div>
    <div class="row1">
      <div class="row ten-loai-sach">
        <p>TÁC PHẨM MỚI</p>
        <a style="color:orange;margin-left: 10px; font-weight: lighter; font-size: 13px; margin-top: 3px" routerLink="/dssanpham">Xem thêm >></a>

      </div>
        <div class="row" style="padding-top: 10px">
          <div class="col col-sm-2 san-pham"  *ngFor="let spn of sanphamnew"  (click)="view(spn)" style="height: 300px; text-align: center;">
            <a class="a" >
              <div class="product-item">
                <div class="product-item-img" style="height: 180px"><img [src]="spn.linkAnh" style="margin-top: 5px; width:auto;height:auto;max-height: 180px"></div>
                <div class="product-item-name" style="height: 50px">{{spn.tenTacPham}}</div>
                <div class="product-item-price">{{spn.giaSale}}<ins>đ</ins></div>
              </div>
            </a>
          </div>

        </div>
    </div>
  <div class="row1">
    <div class="row ten-loai-sach">
      <p>SÁCH BÁN CHẠY</p>
      <a style="color:orange;margin-left: 10px; font-weight: lighter; font-size: 13px; margin-top: 3px" routerLink="/dssanpham">Xem thêm >></a>

    </div>
    <div class="row" style="padding-top: 10px">
      <div class="col col-sm-2 san-pham"  *ngFor="let spfl of sanphamfl" (click)="view(spfl)" style="height: 300px; text-align: center;">
        <a class="a" >
          <div class="product-item">
            <div class="product-item-img" style="height: 180px"><img [src]="spfl.linkAnh" style="margin-top: 5px; width:auto;height:auto;max-height: 180px"></div>
            <div class="product-item-name" style="height: 50px">{{spfl.tenTacPham}}</div>
            <div class="product-item-price">{{spfl.giaSale}}<ins>đ</ins></div>
          </div>
        </a>
      </div>

    </div>
  </div>
  <div class="row1">
    <div class="row ten-loai-sach">
      <p>ƯU ĐÃI CHO BẠN</p>
      <a style="margin-left: 10px; font-weight: lighter; font-size: 13px; margin-top: 3px;color: orange" routerLink="/dssanpham">Xem thêm >></a>

    </div>
    <div class="row" style="padding-top: 10px">
      <div class="col col-sm-2 san-pham"  *ngFor="let spud of sanphamud" (click)="view(spud)" style="height: 300px; text-align: center;">
        <a class="a" >
          <div class="product-item">
            <div class="product-item-img" style="height: 180px"><img [src]="spud.linkAnh" style="margin-top: 5px; width:auto;height:auto;max-height: 180px"></div>
            <div class="product-item-name" style="height: 50px">{{spud.tenTacPham}}</div>
            <div class="product-item-price">{{spud.giaSale}}<ins>đ</ins></div>
          </div>
        </a>
      </div>

    </div>
  </div>

</div>

