.body {
    margin: 0 auto;
    padding: 0;
}


/* phan dau*/

.body1 {
    float: left;
    padding-left: 20px;
}

.body1 .body1a .hinh {
    box-shadow: 3px 3px 3px 3px rgb(126, 123, 123);
}

.body1 .body1b p a {
    text-decoration: none;
    color: #20C947;
}

.body1 .body1b p i {
    color: #20C947;
}

.body1 .body1a img {
    height: 420px;
    width: 250px;
    ;
}

.menunho a {
    text-decoration: none;
}

.form .form1 .a1 {
    margin-top: 10px;
    text-align: center;
}

.abc {
    width: 100%;
    border: 1px solid;
}

.form {
    border: 1px solid;
    height: 410px;
    width: 300px;
    border-radius: 10px;
    margin-left: 20px;
    background-color: #ebe5e5;
}

.form1 {
    border: solid 1px;
    height: 390px;
    width: 280px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: white;
}

.body1c .form .form1 .a2 .ul1 {
    list-style: none;
    float: left;
    margin-left: -30px;
    line-height: 35px;
}

.body1c .form .form1 .a2 .ul2 {
    list-style: none;
    float: right;
    line-height: 35px;
    text-align: right;
}

.body1c .form .form1 .a2 .ul2 li {
    margin-right: 8px;
}

.body1c .form .form1 .a3 .a31 {
    text-align: right;
    margin-right: 10px;
    line-height: 8px;
}

.body1c .form .form1 .a3 .a32 {
    text-align: center;
}

.body1c .form .form1 .a3 .a32 i {
    color: rgb(56, 50, 50);
}

.body1c .form .form1 .a3 .a32 button {
    height: 40px;
    width: 90%;
    background-color: #f7910cd0;
    font-size: 17px;
    border-radius: 5px;
    border: solid 1px #797070;
}

.body1c .form .form2 {
    margin-top: 30px;
}

.body1c .form .form2 .but1 {
    height: 40px;
    width: 145px;
    background-color: #92a7eb;
    border-radius: 7px;
    border: 1px solid #797070;
}

.body1c .form .form2 button {
    color: white;
}

.body1c .form .form2 .but2 {
    height: 40px;
    width: 140px;
    float: right;
    background-color: #92a7eb;
    border: 1px solid #797070;
    border-radius: 7px;
}


/*het phan dau css*/


/*phan hai */

.body2 .hr {
    border: 1px solid;
    width: 1170px;
}

.body2 .body2a .ul3 ul li {
    list-style: none;
    display: inline-block;
}

.body2 .body2b {
    width: 300px;
    height: 430px;
    border: 1px solid black;
    float: right;
    margin-top: -470px;
    margin-right: -61.5px;
}

.body2 .body2b .b1 {
    text-align: center;
    margin-top: 10px;
}

.body2 .body2b .b2 a {
    text-decoration: none;
    color: #20C947;
}

.body2 .body2b .b2 {
    margin-left: 5px;
}

.body2 .body2b .b2 img {
    height: 150px;
    width: 130px;
    float: right;
    border: solid 1px;
    margin-right: 5px;
}

.body2 .body2b .b3 a {
    text-decoration: none;
    color: #20C947;
    margin-left: 5px;
}
img.hinh {
  max-width:280px;
  max-height: 280px;
}


/* xong phan hai */
