<ul style="list-style: none; padding: 0" class="danh-muc">
  <li class="h6" style="margin: 0">Danh mục sách</li>
  <li class="dropdown">
    <a class=" btn-primary dropdown-toggle" data-toggle="dropdown">Sách văn học </a>
    <div class="dropdown-menu">
      <a class="dropdown-item" routerLink="/dssanpham">Tiểu thuyết</a>
      <a class="dropdown-item" routerLink="/dssanpham">Truyện ngắn</a>
      <a class="dropdown-item" routerLink="/dssanpham">Ngôn tình</a>
      <a class="dropdown-item" routerLink="/dssanpham">Light Novel</a>
      <a class="dropdown-item" routerLink="/dssanpham">Tác phẩm kinh điển</a>
      <a class="dropdown-item" routerLink="/dssanpham">Huyền bí - Giả tưởng - Kinh dị</a>
      <a class="dropdown-item" routerLink="/dssanpham">Thơ ca - Ca dao - Tục ngữ - Thành ngữ</a>
    </div></li>
  <li class="dropdown">
    <a class=" btn-primary dropdown-toggle" data-toggle="dropdown">Sách kinh tế </a>
    <div class="dropdown-menu">
      <a class="dropdown-item">Quản trị - Lãnh đạo</a>
      <a class="dropdown-item">Nhân vật - Bài học kinh doanh</a>
      <a class="dropdown-item">Marketing - Bán hàng</a>
      <a class="dropdown-item">Phân tích kinh tế</a>
      <a class="dropdown-item">Khởi nghiệp  - Làm giàu</a>
      <a class="dropdown-item">Tài chính -Ngân hàng</a>
      <a class="dropdown-item">Chứng khoán - Bất động sản - Đầu tư</a>
      <a class="dropdown-item">Kế toán - Kiểm toán - Thuế</a>
    </div></li>
  <li class="dropdown">
    <a class=" btn-primary dropdown-toggle" data-toggle="dropdown">Sách thiếu nhi </a>
    <div class="dropdown-menu">
      <a class="dropdown-item">Truyện thiếu nhi</a>
      <a class="dropdown-item">Kiến thức bách khoa</a>
      <a class="dropdown-item">Ký năng sống cho trẻ</a>
      <a class="dropdown-item">Tô màu - Luyện chữ</a>
      <a class="dropdown-item">Từ điển thiếu nhi</a>
      <a class="dropdown-item">Tạp chí thiếu nhi</a>
      <a class="dropdown-item">Flashcard - Thẻ học thông minh</a>
      <a class="dropdown-item">Sách nói</a>
    </div></li>
  <li class="dropdown">
    <a class=" btn-primary dropdown-toggle" data-toggle="dropdown">Kỷ năng - Đời sống</a>
    <div class="dropdown-menu">
      <a class="dropdown-item">Kỷ năng sống</a>
      <a class="dropdown-item">Sách cho tuổi mới lớn</a>
      <a class="dropdown-item">Tâm lý</a>
      <a class="dropdown-item">Rèn luyện nhân cách</a>
      <a class="dropdown-item">Hạt giống tâm hồn</a>
    </div></li>
  <li class="dropdown">
    <a class=" btn-primary dropdown-toggle" data-toggle="dropdown">Sách ngoại ngữ</a>
    <div class="dropdown-menu">
      <a class="dropdown-item">Sách học tiếng Anh</a>
      <a class="dropdown-item">Sách học tiếng Hàn</a>
      <a class="dropdown-item">Sách học tiếng Nhật</a>
      <a class="dropdown-item">Sách học tiếng Trung</a>
      <a class="dropdown-item">Sách học tiếng Nga</a>
      <a class="dropdown-item">Sách học tiếng Pháp</a>

    </div></li>
  <li class="dropdown">
    <a class=" btn-primary dropdown-toggle" data-toggle="dropdown">Sách công nghệ </a>
    <div class="dropdown-menu">
      <a class="dropdown-item">Sách động cơ</a>
      <a class="dropdown-item">Công nghệ máy tính</a>
      <a class="dropdown-item">Công nghệ ô tô</a>
    </div></li>
  <li class="dropdown">
    <a class=" btn-primary dropdown-toggle" data-toggle="dropdown">Giáo khoa  - Tham khảo</a>
    <div class="dropdown-menu">
      <a class="dropdown-item">Giáo khoa cấp 1</a>
      <a class="dropdown-item">Giáo khoa cấp 2</a>
      <a class="dropdown-item">Giáo khoa cấp 3</a>
      <a class="dropdown-item">Mẫu giáo</a>
      <a class="dropdown-item">Đại học</a>
      <a class="dropdown-item">Sách giáo viên</a>
      <a class="dropdown-item">Sách tham khảo</a>
    </div></li>
  <li class="dropdown">
    <a class=" btn-primary dropdown-toggle" data-toggle="dropdown">Sách sinh học </a>
    <div class="dropdown-menu">
      <a class="dropdown-item">Sách nông - Lâm - Nghiệp</a>
      <a class="dropdown-item">Chuyên gia súc</a>
      <a class="dropdown-item">Sách trông cây lâm nghiệp</a>
      <a class="dropdown-item">Sách trông rau củ</a>
      <a class="dropdown-item">Phân tích đất trồng</a>
      <a class="dropdown-item">Sách đột biến</a>
    </div></li>
  <li class="dropdown">
    <a class=" btn-primary dropdown-toggle" data-toggle="dropdown">Từ điển </a>
    <div class="dropdown-menu">
      <a class="dropdown-item" routerLink="/dssanpham">Từ điển Anh - Việt</a>
      <a class="dropdown-item">Từ điển Anh - Anh</a>
      <a class="dropdown-item">Từ điển Hàn - Việt</a>
      <a class="dropdown-item">Từ điển Hán - Việt</a>
      <a class="dropdown-item">Từ điển Nga - Việt</a>
      <a class="dropdown-item">Từ điển Pháp - Việt</a>
      <a class="dropdown-item">Một số từ điển khác</a>
    </div></li>

</ul>
