
.danh-muc li {
  color: #107105;
  height: 35px;
  padding-left: 20px;
  padding-right: 40px;
}
.danh-muc li a{
  color: gray;
  height: 35px;
  padding-left: 20px;
  padding-right: 40px;
}
.danh-muc li :hover{
  color: orange;
}
.dropdown a{
  text-decoration: none;
  background-color: white;
  color: #107105;
}
:after{
  float: right;
}

.danh-muc li span{
  float: right;
}
.dropdown-menu.show {
  margin-left: 200px;
}
