
<div>
    <div class="row" style="height:30px;color:black ;margin-top:3px">
        <p class="col col-sm-3 text-center">shoppsach.com</p>
        <p class="col col-sm-3 text-center">Miễn phí giao hàng</p>
        <p class="col col-sm-3 text-center">Hotline : 0933.333.333</p>
        <div class="col col-sm-3" style="size: 14px">
            <div style="margin-left: 43px;" id="show-user">

              <div id="chua-dang-nhap">
                <a style="color: black" routerLink="/login">Đăng nhập </a>|
                <a style="color: black" routerLink="/register"> Đăng ký</a>
              </div>
              <div id="da-dang-nhap">
                 <span style="color: orange; font-size: 20px" id="ten-nguoi-dung"></span>
                <span style="margin-left: 5px" ><a (click)="dangXuat()">Đăng xuất</a></span>
                </div>

            </div>
        </div>
    </div>
    <div class="row" style="padding-left: 40px">
       <img src="assets/images/logo_header.jpg" class="col col-sm-3" routerLink="/trangchu">
        <form class="col col-sm-6" style="padding-top: 20px">
          <input [(ngModel)]="searchText" type="text" placeholder="Tìm kiếm . . ." style="border:solid 1px #148b06  ;height: 35px; width: 60%; border-radius: 5px; outline: none; padding-left: 20px;">
            <a (click)="search()">
              <i class="fas fa-search" style="color: #57b157; font-size: 25px; margin-left: 15px;"></i>
            </a>
        </form>
        <div class="col col-sm-3" style="padding-top: 20px">
            <button routerLink="/cart" style=" outline: none; display: block; border:none; background-color:white;">
                <i class="fas fa-shopping-cart" style="color: #46963d; font-size: 28px; margin-left: 30px;"></i>
                <div class="btn btn-danger btn-sm" style="font-size: 12.5px; background-color: rgb(226, 158, 33); border: none;" id="number-item">{{numberitem}}</div>
             </button>

        </div>
    </div>
    <div class="row" style=" background-color: #148b06; color: white; size: 10px; padding-top: 8px; padding-left: 50px;font-family: Arial">
        <a class="col col-sm-2 a1 b1" routerLink="/trangchu">TRANG CHỦ</a>
        <a class="col col-sm-4 a1 b1" routerLink="/dssanpham">XEM NHIỀU SÁCH HƠN </a>

    </div>
</div>
