<div>
    <div class="row" style="height:30px;color:#148b06 ;margin-top:3px">
        <p class="col col-sm-3 text-center">shoppsach.com</p>
        <p class="col col-sm-3 text-center">Miễn phí giao hàng</p>
        <p class="col col-sm-3 text-center">Hotline : 0933.333.333</p>
        <div class="col col-sm-3" style="size: 14px">
            <p>
                <a style="color: black">Đăng nhập </a>|
                <a style="color: black"> Đăng ký</a>
            </p>
        </div>
    </div>
    <div class="row" style="padding-left: 40px">
        <img src="assets/images/logo_header.jpg" class="col col-sm-3">
        <form class="col col-sm-6" style="padding-top: 20px">
            <input type="text" placeholder="Tìm kiếm . ." style="border:solid 1px #148b06  ; width: 60%; border-radius: 30px;">
            <a href="#"><i class="fas fa-search" style="color: #57b157; font-size: 25px; margin-left: 15px;"></i></a>
        </form>
        <div class="col col-sm-3" style="padding-top: 20px">
            <a><i class="fas fa-shopping-cart" style="color: #148b06; font-size: 25px; margin-left: 15px"> Giỏ Hàng</i> </a>
        </div>
    </div>
    <div class="row" style=" background-color: #148b06; color: white; size: 10px; padding-top: 8px; padding-left: 50px">
        <a class="a1" routerLink="/trangchu">TRANG CHỦ</a>
        <a class="a1" routerLink="/danhsachsp">SÁCH TIẾNG VIỆT</a>
        <a class="a1" routerLink="/danhsachsp">SÁCH TIẾNG ANH</a>
        <a class="a1" routerLink="/danhsachsp">SÁCH TIẾNG TRUNG</a>

    </div>