.a1 {
    text-decoration: none;
    margin-bottom: 10px;
    text-align: center;
    padding-right: 20px;
    margin-top: 1px;
    color: rgb(231, 242, 248);
   
    font-size: 15px;
    line-height: 20px;
}
.b1:hover{
    color: rgb(19, 20, 20);
    ;    
}

.row {
    font-family: 'Times New Roman', Times, serif;
}