<!--Header-->
<div>
  <div class="row" style="height:30px;color:#107105">
    <p class="col col-sm-3 text-center">shopsach.com</p>
    <p class="col col-sm-3 text-center">Miễn phí giao hàng</p>
    <p class="col col-sm-3 text-center">Hotline : 0933.333.333</p>
    <div class="col col-sm-3" style="size: 14px">
      <p>
        <a style="color: black">Đăng nhập</a>|
        <a style="color: black">Đăng ký</a>
      </p>
    </div>
  </div>
  <div class="row" style="padding-left: 40px">
   <img src="assets/images/logo_header.jpg" class="col col-sm-3">
    <form class="col col-sm-6" style="padding-top: 20px">
      <input type="text" placeholder="Tìm sách tại đây. . ." style="border:solid 1px #107105  ; width: 60%; border-radius: 30px">
      <a><i class="fas fa-search"></i></a>
    </form>
    <div class="col col-sm-3"></div>
  </div>
  <div class="row" style=" background-color: #107105; color: white; font-weight: bold; size: 10px; padding-top: 10px; padding-left: 50px">
    <a style="color: white" class="col col-sm-7" routerLink="/trangchu">Trang chủ</a>
    <p class="col col-sm-3">Hotline : 0933.333.333</p>
    <p class="col col-sm-2">Liên hệ</p>
  </div>
</div>
<!--<app-trangchu></app-trangchu>-->
<!--<app-danhsachsp></app-danhsachsp>-->
<router-outlet></router-outlet>
<!--fooooter-->
<div class="clearfix"></div>
<div style="border-top: solid 20px #cefcd0">
  <form class="row" style="background-color: #107105; padding: 20px; color: white">
    <h5 class="col col-sm-3">Đăng ký nhận bảng tin</h5>
    <input  class="col col-sm-5" type="text" placeholder="Nhập email để đăng ký . . ." >
    <input  class="col col-sm-1" type="submit" value="Đăng ký" style="background-color:orange;color: white; border: 0px">
  </form>
</div>
<div class="row footer-bottom" style="padding: 30px">
  <div class="col col-sm-6" >
    <img src="assets/images/logo_header.jpg">
    <p>ShopSach.com chuyên cung cấp thông tin giá cả sách các thể loại.
      Từ sách tiếng anh, tiểu thuyết, học tập, sách trẻ em, truyện tranh,
      truyện trinh thám, sách giao khoa... Bằng khả năng sẵn có cùng
      sự nỗ lực không ngừng, chúng tôi đã tổng hợp hơn 100000 đầu
      sách, giúp bạn có thể so sánh giá, tìm giá rẻ nhất trước khi mua.</p>
  </div>
  <div class="col col-sm-3">
    <h6>Thể loại</h6>
    <ul style="color: #107105">
      <li>Sách văn học</li>
     <li> Sách kinh tế</li>
      <li>Sách kỹ năng - đời sống</li>
      <li> Sách tham khảo</li>
      <li> Sách từ điến</li>
      <li> Sách công nghệ</li>
      <li> Sách ngoại ngữ</li>
      <li> Sách giáo khóa</li>
      <li> Sách sinh học</li>
    </ul>
  </div>
  <div class="col col-sm-3">
    <h6>Liên hệ</h6>
    <ul>
      <li>Hotline : 0933.333.333</li>
      <li>Email : shopsach@gamil.com</li>
     <li>Adress : 123 QL1A, phường Linh Trung, TP. Thủ Đức </li>
    </ul>
  </div>
</div>
