<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
<h1 style="text-align: center; color: green;" >Giao hàng và thanh toán</h1>



<div>

<div class="container">
  <form action="">
    <h2 style="color: green;">Địa chỉ giao hàng</h2>
    <div class="row">
      <div class="col-25">
        <label for="fname">Họ và tên</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname-2" name="firstname" placeholder="Tên của bạn">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="fname">Điện thoại</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname-1" name="firstname" placeholder="sđt">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="country">Tỉnh thành</label>
      </div>
      <div class="col-75">
        <select id="country" name="country">
          <option value="vietnam">Bình Dương</option>
          <option value="laos">HCM</option>
          <option value="cambodia">Hà Nội</option>
          <option value="vietnam">Đà Nẵng</option>
          <option value="laos">Huế</option>
          <option value="cambodia">Sóc Trăng</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="country">Quận / huyện</label>
      </div>
      <div class="col-75">
        <select id="country-2" name="country">
          <option value="vietnam">Huyện Phú giáo</option>
          <option value="laos">Quận Thủ Đức</option>
          <option value="cambodia">Quận Tân Phú</option>
          <option value="vietnam">Quận Gò Vấp</option>
          <option value="laos">Quận 9</option>
          <option value="cambodia">Quận 7</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="country">Phường / xã</label>
      </div>
      <div class="col-75">
        <select id="country-1" name="country">
          <option value="vietnam">An Ninh</option>
          <option value="laos">An Thái</option>
          <option value="cambodia">An Bình</option>
          <option value="vietnam">Vĩnh Hoà</option>
          <option value="laos">Phước Sang</option>
          <option value="cambodia">Cambodia</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="fname">Tên đường</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname-3" name="firstname" placeholder="địa chỉ...">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="fname">Số nhà</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="firstname" placeholder="số nhà...">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="subject">Ghi chú</label>
      </div>
      <div class="col-75">
                        <textarea id="subject" name="subject" placeholder="Viết gì đó..."
                                  style="height: 85px;"></textarea>
      </div>
    </div>
    <div class="row">
      <br>
      <input type="submit" value="Lưu">
      <input type="submit" value="Huỷ bỏ">
    </div>
  </form>
</div>

</div>
</body>
</html>
