<div class="clearfix"></div>
<div style="border-top: solid 20px white; margin-top: 20px">
    <form class="row" style="background-color: #148b06; padding: 15px; color: white">
        <h5 class="col col-sm-3 h5">Đăng ký nhận bảng tin<br></h5>
        <input class="input col col-sm-5" type="text" placeholder="Nhập email của bạn . . ." style="outline: none;">
        <input class="input1 col col-sm-1" type="submit" value="Đăng ký" style="background-color:rgb(235, 167, 42);color: white; border: 0px">
    </form>
</div>
<div class="row footer-bottom" style="padding: 30px">
    <div class="col col-sm-6">
        <img src="assets/images/logo_header.jpg">
        <p>ShopSach.com chuyên cung cấp thông tin giá cả sách các thể loại. Từ sách tiếng anh, tiểu thuyết, học tập, sách trẻ em, truyện tranh, truyện trinh thám, sách giao khoa... Bằng khả năng sẵn có cùng sự nỗ lực không ngừng, chúng tôi đã tổng hợp hơn
            100000 đầu sách, giúp bạn có thể so sánh giá, tìm giá rẻ nhất trước khi mua.</p>
    </div>
    <div class="col col-sm-3">
        <h6>Thể loại</h6>
        <ul class="ul1">
            <li>Sách văn học</li>
            <li> Sách kinh tế</li>
            <li>Sách kỹ năng - đời sống</li>
            <li> Sách tham khảo</li>
            <li> Sách từ điến</li>
            <li> Sách công nghệ</li>
            <li> Sách ngoại ngữ</li>
            <li> Sách giáo khóa</li>
            <li> Sách sinh học</li>
        </ul>
    </div>
    <div class="col col-sm-3">
        <h6>Liên hệ</h6>
        <ul class="ul1">
            <li>Hotline : 0933.333.333</li>
            <li>Email : shoppsach@gmail.com</li>
            <li>Adress : 123 QL1A, phường Linh Trung, TP. Thủ Đức </li>
        </ul>
    </div>
</div>
